#loginForm {
    margin: auto;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
    background-color: #F3F2EE;
    width: fit-content;
    height: auto;
    box-shadow: 0 0 24px 0 rgb(42 58 75 / 24%);
}
.emailLabel {
    padding: 10px;
}
.passwordLabel {
    padding-top: 25px;
    padding-bottom: 10px;
}
#submitBtn {
    background-color: black;
    color: white;
    padding: 10px;
    border: none;
    align-items: center;
    margin-bottom: 20px;
    width: auto;
}
#emailInput, #passwordInput {
    padding: 10px;
}
#passwordInput {
    margin-bottom: 20px;
}
